#container{
    min-height: 100vh;
   display: flex;
   justify-content: center;
   
   padding: 50px;
}

#grid-container{
    border: solid;
    width: 100%;
    min-height: 100%;
    max-width: 500px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    
}